<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "seele docs" }}</title>
    <link href="/client/main.css" rel="stylesheet" />
    <script type="module" src="/client/lit-hydrate-support.js"></script>
    <script type="module" src="/client/main.js"></script>
    {% if components %}
      {% for component in components %}
    <script type="module" src="/client/{{ component }}.js"></script>
      {% endfor %}
    {% endif %}

    <style> body[dsd-pending] { display: none; } </style>
    <noscript>
      <style> body[dsd-pending] { display: block !important; } </style>
    </noscript>
  </head>
  <body dsd-pending class="{% if active == 'playground' %}playground{% endif %}">
    <a href="#main">Skip to main contents</a>

    <md-nav-rail>
      <md-nav-rail-item label="Playground" onclick="navigation.navigate('{{ '/m3/playground/' | url }}')" {% if active == 'playground' %}active{% endif %}>
        <iconify-icon icon="material-symbols:category-outline"></iconify-icon>
        <iconify-icon slot="active" icon="material-symbols:category"></iconify-icon>
      </md-nav-rail-item>
      <md-nav-rail-item label="Docs" onclick="navigation.navigate('{{ '/' | url }}')" {% if active != 'playground' %}active{% endif %}>
        <iconify-icon icon="material-symbols:book"></iconify-icon>
        <iconify-icon slot="active" icon="material-symbols:book-outline"></iconify-icon>
      </md-nav-rail-item>
    </md-nav-rail>

    {% macro renderEntries(prefix, items, pageUrl) %}
    <ul>
        {%- for item in items | sort(false, false, 'filePathStem') %}
          {%- set isSub = "/base/" in item.url or "/m3/" in item.url or "/win98/" in item.url %}
          {%- if (prefix == "/" and not isSub) or (prefix != "/" and prefix in item.url) %}
      <li><a href="{{ item.url }}"{% if pageUrl == item.url %} aria-current="page"{% endif %}>{{ item.data.label or item.url }}</a></li>
          {%- endif %}
        {%- endfor %}
    </ul>
    {% endmacro %}

    {% if active != "playground" %}
    <nav>
      <h2>Entries</h2>
      {{ renderEntries("/", collections.all, page.url) }}
      <details open>
        <summary>Material You Expressive</summary>
        {{ renderEntries("/m3/", collections.all, page.url) }}
      </details>
      <details open>
        <summary>Windows 98</summary>
        {{ renderEntries("/win98/", collections.all, page.url) }}
      </details>
      <details open>
        <summary>Base (API only)</summary>
        {{ renderEntries("/base/", collections.all, page.url) }}
      </details>
    </nav>
    {% endif %}

    <main id="main">
      {{ content | safe }}
    </main>

    <footer>
      <md-divider></md-divider>
      <p>
        Copyright © 2023-2026 by Lucas X. Zhao.<br />
        Last built at {{ buildTime.formatted }} with Eleventy {{ eleventy.version }}.
      </p>
      <md-divider></md-divider>
    </footer>

    <script>
      (function() {
        if (!HTMLTemplateElement.prototype.hasOwnProperty('shadowRootMode')) {
          (function attachShadowRoots(root) {
            root.querySelectorAll("template[shadowrootmode]").forEach(template => {
              const mode = template.getAttribute("shadowrootmode");
              const shadowRoot = template.parentNode.attachShadow({ mode });
              shadowRoot.appendChild(template.content);
              template.remove();
              attachShadowRoots(shadowRoot);
            });
          })(document);
        }
        document.body.removeAttribute('dsd-pending');
      })();
    </script>
  </body>
</html>
